body {
    overflow:hidden;
}
.panel{
	margin-bottom:0px !important;
}
.championImg{
	width: 120px;
	height: 120px;
	border-width: 4px;
	border-style: solid; 
	border-radius:50%;
	position: relative;
	left: 10px;
	background-repeat: no-repeat;
	float: left;
}
.championLevel{
	display: block;
	position: absolute;
	bottom: -10px;
	right: 0px; 
	width:30px;
	height:30px;
	border-width: 3px; 
	border-style: solid;
	border-radius: 50%;
	background-color: white;
	text-align:center;
	font-family:inherit;
	color:inherit;
}
.championDesc{
	padding-left: 140px;
}
.k-panel-body{
	padding:0px 15px 15px 15px; 
}
.championAbility{
	margin-top: 10px;
	margin-right: 4px;
	padding: 1px;
	border-width: 3px;
	border-style: solid;
	border-radius: 4px;
	display: inline-block;
	max-width: 15%;
	height: auto;
}
.championAbility.physicalDamage{
	border-color:#FF8C00;
}
.championAbility.magicDamage{
	border-color:#1EC91A;
}
.championAbility.trueDamage{
	border-color:#800080;
}

.modal-body .championAbility{
	float: left;
	margin:5px 10px 0px 0px;
	padding: 1px;
	border-width: 3px;
	border-style: solid;
	border-radius: 4px;
}
.color99FF99,scaleAP{
	color:#1EC91A;
}
.colorFF8C00,.colorF88017{
	color:#FF8C00;
}

.colorFFFF99,.colorFF9900,spellActive{
	color: #E18200;
}
.color44DDFF,scaleMana{
	color: #44DDFF;
}
.borderColor3097D1{
	border-color: #3097D1;
}
.borderColorD9534F{
	border-color: #D9534F;
}
.borderColor3097D1{
	border-color: #3097D1;
}